body{
	margin: 0px;
	background-color: #f6fcf4;
}

.header{
	background-color: #404144;
	height: 300px;
	position: relative;
}

.dialog{
	height: 310px;
	width: 50%;
	border: 1px solid #c7d5e2;
	margin: auto;
	position: absolute;
	top: 80px;
	left: 25%;
	background-color: #f6fcf4;
}

.dialog-footer{
	background-color: #a0d622;
	/*height: 50px;*/
	height: 17%;
	/*padding-left: 250px;*/
	padding-left: 15%;
	padding-top: 10px;
	box-sizing: border-box;
}

.dialog-body{
	/*height: 260px;*/
	height: 83%;
	padding: 20px;
	box-sizing: border-box;
}

.dialog-img img{
	border: 1px solid #c7d5e2;
	height: 100%;
	/*width: 180px;*/
	width: 30%;
	background-color: #ccd8c9;
	/*margin-right: 20px;*/
	margin-right: 3%;
	float: left;
	display: block;
}

.dialog-detail{
	float: left;
	width: 65%;
	font-family: Arial;
}

.dialog-header div:nth-child(1){
	font-size: 20px;
}

.dialog-content{
	font-size: 12px;
}

.label{
	/*width: 100px;*/
	width: 30%;
	float: left;
	font-weight: bold;
}

.value{
	float: left;
}

.content-item{
	clear: both;
	padding-bottom: 25px;
	display: block;
}

.nav{
	color: #FFFFFF;
	font-weight: bold;
	padding: 15px;
}

a{
	color: #FFFFFF;
	text-decoration: none;
}

.nav-brand{
	font-size: 20px;
	float: left;
}

.list-group{
	float: right;
	font-size: 12px;
}

.list-group ul{
	list-style: none;
}

.list-group li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.active{
	border-bottom: 2px solid #a0d622;
}

.dwnld{
	margin-left: 25%;
	margin-top: 130px;
	width: 50%;
}

.dwnld .btn{
	height: 40px;
	font-weight: bold;
	width: 100%;
}

/*
.dwnld button{
	margin-left: 35%;
	background-color: #f6fcf4;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #f6fcf4;
	box-shadow: 0px -1px 1px 0px #8888;
	border-radius: 2px;
	height: 30px;
	width: 200px;
	text-transform: uppercase;
}
*/
.workexp{
	margin-left: 25%;
	margin-top: 15px;
	width: 50%;
	height: 950px;
}

.skill{
	width: 50%;
	height: 600px;
}

.workexp-header{
	font-size: 25px;
	text-align: center;
}

.left-content{
	float: left;
	width: 47%;
}

.right-content{
	float: right;
	width: 47%;
	/*margin-top: 50px;*/
}

.workexp-content-item{
	margin-top: 10px;
	margin-bottom: 20px;
	height: 260px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 1px 0px #888888;
	font-family: Arial;
	font-size: 14px;
	position: relative;
}

.content-bar{
	background-color: #a0d622;
	height: 10px;
}

.content-head{
	text-align: center;
}

.content-body{
	text-align: center;
	padding: 10px;
}
/*
.left-content .workexp-content-item .content-body::after{
	content: " ";
	position: absolute;
	top: 20%;
	left: 97%;
	margin-top: -5px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent white;	
	z-index: -1;
	box-shadow: 0px 0px 1px 0px;
	transform: rotate(45deg);
}

.right-content .workexp-content-item .content-body::after{
	content: " ";
	position: absolute;
	top: 20%;
	right: 97%;
	margin-top: -5px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent white;	
	z-index: -1;
	box-shadow: 0px 0px 1px 0px;
	transform: rotate(45deg);
}
*/
.contact{
	width: 100%;
	font-family: Arial;
}

.contact-header{
	text-align: center;
	font-size: 20px;
}

.contact-left{
	float: left;
	padding: 20px;
	margin-top: 15px;
	height: 280px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 1px 0px #888888;
	margin-bottom: 40px;
	width: 47%;
	margin-left: 25%;
}
/*
.contact-right{
	float: right;
	padding: 20px;
	margin-top: 15px;
	height: 280px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 1px 0px #888888;
	width: 43%;
	margin-bottom: 40px;
}
*/
input, textarea{
	border-top: none;
	border-left: none;
	border-right: none;
	resize: none;
	width: 100%;
}

.form-item{
	margin-bottom: 15px;
}

.btn{
	background-color: #a0d622;
	border: #a0d622;
	color: #FFFFFF;
	border-radius: 3px;
}

.form-item .btn{
	height: 30px;
	width: 80px;
}

.label .btn{
	height: 25px;
	width: 80px;
}
.spn{
	display: inline-block;
	text-align: center;
	padding-top: 5px;
	box-sizing: border-box;
}

.img-list{
	float: left;
	/*margin-right: 20px;*/
	width: 20%;
	text-align: center;
}

.ham{
	width: 25px;
    height: 2px;
    background-color: #ffffff;
	margin: auto;
	margin-top: 5px;
}

.ham-menu{
	width: 50px;
	height: 40px;
	margin-top: -15px;
	box-shadow: 0px 0px 1px 0px;
	padding-top: 10px;
}

.tooltip .btn{
	height: 22px;
	padding-top: 1px;
	width: 60px;
	border-radius: 0px;
}

.tooltip{
	position: relative;
}

.tooltip span::after{
	content: " ";
	position: absolute;
	border-width: 5px;
    border-style: solid;
	top: 100%;
    left: 4%;
    margin-left: -5px;
    border-color: #a0d622 transparent transparent transparent;
	
}

.footer{
	margin-left: 45%;
	clear: both;
}

.year{
	color: #a0d622;
}

.point{
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background-color: #a0d622;
}

.small-line {
	height: 40px;
	width: 2px;
	background-color: #a0d622;
	margin-left: 3px;
}

.big-line {
	height: 230px;
	width: 2px;
	background-color: #a0d622;
	margin-left: 3px;
}

.sep{
	float: left;
	margin-top: 60px;
	margin-left: 2%;
}

.mob-view{
	display: none;
	text-align: center;	
}

@media (max-width:850px){
	.dialog-header div:nth-child(1){
		font-size: 15px;
	}
	.dialog-header div:nth-child(2){
		font-size: 15px;
	}
	.dialog-content{
		font-size: 10px;
	}
	.left-content, .right-content{
		float: left;
		width: 100%;
	}
	/*.dwnld{
		margin-left: 42%;
	}
	.dialog-footer{
		padding-left: 30%;
	}*/
	.dialog-img img{
		display: none;
	}
	.dialog-detail{
		width: 100%;
	}
	/*.img-list{
		margin-right: 8px;
	}*/
}
/*
@media (max-width:680px){
	.dwnld{
		margin-left: 40%;
	}
}
*/
@media (max-width:480px){
	.content-body{
		font-size: 12px;
	}
}

@media (max-width:345px){
	.content-body{
		font-size: 10px;
	}
	.dialog-header div:nth-child(1){
		font-size: 12px;
	}
	.dialog-header div:nth-child(2){
		font-size: 10px;
	}
	.content-item{
		display: none;
	}
	.mob-view{
		display: block;
	}
}

@media (max-width:300px){
	.content-body{
		font-size: 9px;
	}
}




